.container{
    border: solid black;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.bigbox{
    height: 100px;
    width: 100px;
    border: solid black;
}
.box{
    height: 50px;
    width: 50px;
    border: solid black;
    margin-left: 24px;
}

.boxwrapper{
    display: flex;
    align-items: center;
}